:root{
    font-size: 16px;
    font-family: 'Open Sans';
}

.navbar{
    position: fixed;
    background-color: #222629;
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-image{
    height: 2rem;
    margin: 0 1.5rem;
}

.nav-item{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nav-item:last-child{
    margin-top: auto;
}



.nav-item:hover .nav-link{
    color: #6A6E71;
}

.nav-item .nav-image{
    filter: invert(29%) sepia(6%) saturate(482%) hue-rotate(179deg) brightness(93%) contrast(93%);
}

.nav-item:hover .nav-image{
    filter: invert(42%) sepia(12%) saturate(151%) hue-rotate(163deg) brightness(97%) contrast(87%);
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: #474A4F;
}

.link-text{
    display: none;
}





@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
        border-top: solid 1px #474A4F;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .nav-item:hover{
        border-top: solid 4px #618930;
    }

    #active{

    }
}

@media only screen and (min-width: 600px){
    .navbar{
        width: 5rem;
        height: 100vh;
        border-right: solid 1px #474A4F;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: block;
    }

    .nav-item:hover{
        border-right: solid 4px #618930;
    }

    #active{

    }
}